/********************* global *********************/

html {
	font-family: arial;
	margin: 0;
	padding: 0;
	background-image: url('../drumsEDIT.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}

html, body {
	height: 100%;
}

/********************* header *********************/

header {
	height: 100px;
	background: rgb(0,0,0);opacity:0.9;
	color: #fff;
}

header h1 {
	margin-top: 0px;
	padding-top: 25px;
	padding-left: 100px;
	font-size: 3rem;
	overflow: hidden;
	color: white;opacity:1.0;
	font-family: 'Arvo', serif;
	font-weight: 500;
}

/********************* body *********************/

#body {
	height: 80%;
}

.keys {
	text-align: center;
	padding-top: 20%;
}

.key {
	height: 80px;
	width: 80px;
	margin: 7.5px;
	background: rgba(255,255,255,0.85);
	display: inline-block;
	text-align: center;
	border: 3px solid #000;
}

kbd {
	display: block;
	font-size: 3rem;
}

/********************* footer *********************/

footer {
	position:fixed;
  	left:0px;
  	bottom:0px;
	height: 100px;
	width:100%;
	background-color: rgb(0,0,0);opacity:0.95;
}
